
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#icon{
    color: #4f46e5;
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    background-color: white;  
    gap: 2rem;
}

.navbar .logo {
    display: flex   ;
    align-items: center ;
    gap: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    gap: 85px;
    align-items: center;
}

.navbar .nav-links a {
    color: #3E3D41;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
        font-weight: bold;
}

.navbar .nav-links a:hover {
    color: #4f46e5; /* Cor ao passar o mouse */
}

.acessar-button {
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 12px 24px; /* aumenta o tamanho do botão */
    font-size: 16px;    /* aumenta o tamanho do texto */
    font-weight: bold;
    border-radius: 10px;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url('https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;    /* Faz a imagem cobrir toda a section */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 900px;
    color: white; /* Cor do texto, opcional */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-hero{
    font-size: 5.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-hero{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 25px;
    margin-bottom: 50px;
}


.about-content{
    padding: 30px;
}

.about-details {
    display: flex;      
    align-items: center;    
    flex-direction: row;
    gap: 10rem;
    max-width: 1250px;
}

.about-details img {
    width: 50%;
    border-radius: 10px;
}


.about-details div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left; /* alinha o texto à esquerda */
}

.about-text-content{
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.about-text-content h2{
    margin-bottom: 15px;
}

.adopt{
    background-color: #8584841c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.content h1{
    font-size: 2.5rem;
}

.content p{
    font-size: 1.3rem;
    color: #3E3D41;
    max-width: 800px;
    margin-top: 15px;
}

.animal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.animal-card-content{
    padding: 10px;
}

.animal-card {
    display: flex;                  /* 🔹 Ativa o flexbox */
    flex-direction: column;         /* 🔹 Organiza o conteúdo em coluna */
    justify-content: space-between; /* 🔹 Mantém o botão sempre embaixo */
    align-items: center;
    border-radius: 10px;
    border: white solid 1px;
    max-width: 450px;
    height: 400px; /* mantém a altura fixa */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.animal-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.animal-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.animal-especie{
    color: #4f46e5;
    font-weight: bold;
    background-color: #4e46e51f;
    border-radius: 10px;
    padding: 4px;
}

.animal-info {
    display: flex;
    text-align: left; 
    align-items: center;
    gap: 295px;
    margin-bottom: 10px;
}


.animal-details{
    display: flex;
    text-align: left; 
    align-items: center;
    margin-bottom: 20px;
    color: #3E3D41;
    font-weight: bold;
    font-size: 13px;
    gap: 15px;
}

.adopt-button {
    margin-top: auto; /* 🔹 empurra o botão para o fim do card */
    width: 90%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #5f57f3;
    color: white;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
    cursor: pointer;
}


.adopt-button:hover {
    background-color: #4b44d1;
    transition: background-color 0,3s;
}

.adopt-button:active {
    background-color: #3a34a3;
    transition: background-color 0,3s;
}

.animal-description {  
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    text-align: left; 
    color: #3E3D41; 
}

.about-adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #5e57ee5d;
}

.title-adopt{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.requirements-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    padding: 0;
    margin: 0;
    gap: 20px; 
}

.requirement-item{
    color: #3E3D41;
    font-weight: bold;
    width: 45%;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.icon-check {
    font-family: 'Material Icons';
    font-size: 24px;
    color: #332add;                 
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    margin-top: 25px;
}

.title-contact{
    font-size: 2.5rem;
}

.contact p{
    font-size: 1.3rem;
    color: #3E3D41;
}

.contact-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;     
    justify-content: center;
}

.contact-details{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.icon-contact{
    font-family: 'Material Icons';
    font-size: 24px;
    color: #332add; 
    border-radius: 15px;   
    padding: 2px;           
}

.fa-brands {
    font-size: 24px;
    color: #4f46e5;
    margin-right: 10px;
    transition: color 0.3s, transform 0.3s;
}

#social-facebook:hover span {
    color: #485a96;
    transform: scale(1.2);
}

#social-instagram:hover span {
    color: #ff7367;
    transform: scale(1.2);
}

#social-twitter:hover span {
    color: #1da1f2;
    transform: scale(1.2);
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto ou ícone */
}

.footer{
    background-color: #1f2937;
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}